[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TidyConsultant"]
	path = TidyConsultant
	url = https://github.com/harrison4192/tidyconsultant
[submodule "autostats"]
	path = autostats
	url = https://github.com/harrison4192/autostats
[submodule "framecleaner"]
	path = framecleaner
	url = https://github.com/harrison4192/framecleaner
[submodule "presenter"]
	path = presenter
	url = https://github.com/harrison4192/presenter
[submodule "tidybins"]
	path = tidybins
	url = https://github.com/harrison4192/tidybins
[submodule "validata"]
	path = validata
	url = https://github.com/harrison4192/validata
